.footer {
    background-color: #333;
    color: #f7f7f7;
    padding: 10rem 0;
    font-size: 1.4rem;

    @include respond(tab-port) {
        padding: 8rem 0;
    }

    &__navigation {
        border-top: 1px solid #f7f7f7;
        padding-top: 2rem;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            text-align: center;
        }
    }

    &__resume {
        border-top: 1px solid #f7f7f7;
        padding-top: 2rem;
        float: right;

        @include respond(tab-port) {
            width: 100%;
            float: none;
            text-align: center;
        }
    }

    &__icon {
        color: white;
        font-size: 3rem;
    }

    &__span {
        transform: translate(1rem, -3rem);
    }
}