//COLORS
$color-primary: #48cae4;
$color-primary-light: #ade8f4;
$color-primary-dark: #0096c7;

$color-secondary-light: #49E3AD;
$color-secondary-dark: #49E3E2;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-dark: #777;
$color-white: #fff;

//FONT SIZES
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
